@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

body {
	font-family: "Bitter", serif;
	margin: 2% auto;
	background-color: #622A13;
	line-height: 1.5;
	max-width: 900px;
}



img {
	max-width: 70%;
}

/* THE ALMIGHTY CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

span {
	font-weight: bold;
	font-size: 1.2em;
	color: #75AAAA;
}

/*********************Header****************/

header {
	
	position: relative;
	padding-bottom: 0px;
}

.wood {
	background-image: url(../images/Wood_Texture_by_ReaperOfBlood.jpg);
}

.logo {
	display: block;
	background: url(../images/mglogo.png) no-repeat 0 0; /* Fallback */
	background-image: linear-gradient(transparent, transparent), url(../images/mglogo.svg);
	background-repeat: no-repeat;
	text-indent: -999999px;
	width: 250px;
	height: 186px;	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 27%;
}

.contactinfo {
	color: #fff;
	font-size: .65em;
	text-shadow: 2px 2px 0.8px #000;
}

.top {
	display: none;
}

.goaway {
	float: right;
	text-indent: -999999px;
}

.menuButton {
	color: #fff;
	display: block;
	text-decoration: none;
	background-color: #375D5D;
	text-align: center;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menuButton:hover {
	background-color: #788867;
}

.menuhide {

	display: none;
	list-style: none;
	clear: both;
	margin: 0px;
	padding: 0px;


}

.menuhide a {
	color: #fff;
	display: block;
	text-decoration: none;
	background-color: #375D5D;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

.menuhide a:hover {
	background-color: #788867;
}



/*********************MAIN****************/


main {
	clear: both;
}

.greenbackground {
	background-color: #375D5D;
	padding: 2%;
	color: #fff;
	text-align: center;
	position: relative;
}

.homeimg {
	max-width: 100%;
}

.readmore {
	text-decoration: none;
	color: #fff;
	background-color: #75AAAA;
	padding: 7px;
	border-radius: 3px;
	margin-left: 0px;

}

.readmore:hover {
	background-color: #788867;
}

.practices li {
		text-align: left;
	}


.notepad{
	background-image: url(../images/notebook_@2x.png);
	padding: 5%;
	text-align: center;
	color: #000;
}

.notepad li {
	text-align: left;
}

.notepad p {
	text-align: left;

}

.missionblock h1 {
	color: #375D5D;
}

.overviewblock h2 {
	color: #375D5D;
}

.attorneynav ul {
	list-style: none;
	clear: both;
	margin: 0px;
	padding: 0px;
}

.attorneynav a {
	color: #fff;
	display: block;
	text-decoration: none;
	background-color: #375D5D;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

.attorneynav a:hover {
	background-color: #788867;
}




/*********************FOOTER****************/
footer {
	position: relative;
	padding: 5px;
	clear: both;
}


.footernav ul{
	list-style: none;
	
}

.footernav li {
	display: inline;
}

.footernav a{
	color: #fff;
	text-decoration: none;
	font-size: .60em;
	text-shadow: 2px 2px 0.8px #000;
	padding-left: 5px;
}

.bottom {
	font-size: .60em;
	padding-left: 10px;
}




















/******************** 520px *****************/

@media screen and (min-width: 520px) {


	.logo {
		margin-left: 2%;
		float: left;

	}
	
	.top {
		display: block;
		float: right;
		margin-right: 2%;
	}
	














}









/**************** 900px **********************/
@media screen and (min-width: 900px) {

/*	.mainnav {
		display: inline;

	}*/

	.menuButton{
		display: none;
	}

	.menuhide {
		display: inline-block !important;
		background-color: #375D5D;
		padding: 14px;
	}

	.menuhide li {
	display: inline;
	background-color: #375D5D;

		
	}


	.menuhide a {
		padding: 16px;
		display: inline;
		text-align: left;
		font-size: .96em;
	}

	.greenhome {
		padding-bottom: 430px;
	}

	.attgreen{
		padding-bottom: 1607px;
	}

	.attpage {
		width: 66%;
		float: right;
	}

	.attorneynav {
		float: right;
		margin-right: 7px;
		
	}

	.attorneynav a {
		text-align: left;
	}

	.practices {
		width: 38%;
		float: left;
	}

	.practices h2 {
		text-align: left; 
		font-size: 1.2em;
	}

	.featured {
		width: 23%;
		text-align: left;
		/*position: absolute;*/
		float: right;
		margin-right: 18%;
		margin-bottom: 1%;


	}

	.notepad {
		/*text-align: left;*/

	}

	.featured h2 {
		font-size: 1.2em;
	}

	.featured img{
		max-width: 55%;
	}

	footer {
		padding-bottom: 100px;
	}

	.bottom {
		float: left;
	}


	.footernav {
		float: right;
	}

	.murphyimg {
		float: left;
		padding: 24px;
		max-width: 35%;
	}

	.info {
		text-align: left;
	}

	.info h2 {
		text-align: center;
	}

	

}







